<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" prefix="og: http://ogp.me/ns#">
{{ partial "head.html" . }}

<body>
  <div class="container">
    {{ partial "header.html" . }}
    
    <main>
      <article class="post" id="article">
        <header class="post-header">
          <h1 class="post-title">{{ .Title }}</h1>
          
          {{ if in .Site.Params.mainSections .Type }}
          <div class="post-meta">
            {{ if .Date }}
            <time datetime="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">
              {{ .Date.Format "02 Jan 2006" }}
            </time>
            {{ end }}
            
            {{ if .Site.Params.author.name }}
            <span>·</span>
            {{ if .Params.author.homepage }}
            <a href="{{ .Params.author.homepage }}" target="_blank">@{{ .Site.Params.author.name }}</a>
            {{ else }}
            <span>@{{ .Site.Params.author.name }}</span>
            {{ end }}
            {{ end }}
          </div>
          {{ end }}
        </header>

        <div class="post-content">
          {{ .Site.Params.postHeaderContent | safeHTML }}
          {{ .Content }}
        </div>

        {{ if .Params.tags }}
        <div class="post-tags">
          {{ range .Params.tags }}
          <a href="{{ site.LanguagePrefix }}/tags/{{ lower . | urlize }}/" class="post-tag">
            {{ . }}
          </a>
          {{ end }}
        </div>
        {{ end }}

        {{ if in .Site.Params.mainSections .Type }}
          {{ .Site.Params.postFooterContent | safeHTML }}

          {{ partial "related.html" . }}

          {{ if .Site.Params.postAds }}
          <div class="post-ads">{{ .Site.Params.postAds | safeHTML }}</div>
          {{ end }}

          {{ if .Site.Params.disqus }}
          <div class="post-comments">
            {{ partial "disqus.html" . }}
          </div>
          {{ end }}
        {{ end }}
      </article>
    </main>

    {{ partial "footer.html" . }}
  </div>

  {{ partial "scripts.html" . }}
  {{ if .Site.Params.extraBody }}
  {{ .Site.Params.extraBody | safeHTML }}
  {{ end }}

</body>

</html>
