{{ $pages := .Pages }}
{{ if and (not $pages) .Data }}
  {{ $pages = (where .Data.Pages "Type" "in" site.Params.mainSections) }}
{{ end }}
{{ with $pages.GroupByDate "2006" }}
<ul class="posts-list">
  {{ range . }}
  <li>
    <h2 class="post-year">{{ .Key }}</h2>
  </li>
  {{ range .Pages }}
  <li class="post-item">
    <span class="post-date">{{ .Date.Format "Jan 02" }}</span>
    <a href="{{ .RelPermalink }}" class="post-title-link">{{ .Title }}</a>
    {{ if and $.IsHome $.Site.Params.showCategories }}
    <div class="post-categories">
      {{ range .Params.categories }}
      <a href="/categories/{{ lower . }}/" class="post-category">{{ . }}</a>
      {{ end }}
    </div>
    {{ end }}
  </li>
  {{ end }}
  {{ end }}
</ul>
{{ end }}
