<script>
window.__SPACEBOY__ = {
  katexDelimiters: {{ .Site.Params.katexDelimiters | default (slice
    (dict "left" "$$" "right" "$$" "display" true)
    (dict "left" "$" "right" "$" "display" false)
    (dict "left" "\\(" "right" "\\)" "display" false)
    (dict "left" "\\[" "right" "\\]" "display" true)
  ) | jsonify }},
  enableCopyCode: {{ ne .Site.Params.enableCopyCode false }},
  needsFancybox: {{ or (eq .Type "gallery") (and .IsPage (in .Content "data-fancybox")) }},
  needsMermaid: {{ and .IsPage (or (.HasShortcode "mermaid") (in .RawContent "```mermaid")) }},
  needsKaTeX: {{ and .IsPage (or (.HasShortcode "katex") (in .RawContent "$$") (in .RawContent "$")) }},
  legacyMode: {{ .Site.Params.legacyMode | default false }},
  fancyboxJSLocal: {{ default "" .Site.Params.fancyboxJSLocal }},
  fancyboxJSCDN: {{ default "https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.1/dist/fancybox/fancybox.umd.js" .Site.Params.fancyboxJSCDN }},
  mermaidJSLocal: {{ default "" .Site.Params.mermaidJSLocal }},
  mermaidJSCDN: {{ default "https://cdn.jsdelivr.net/npm/mermaid@11.14.0/dist/mermaid.min.js" .Site.Params.mermaidJSCDN }},
  katexJSLocal: {{ default "" .Site.Params.katexJSLocal }},
  katexJSCDN: {{ default "https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js" .Site.Params.katexJSCDN }},
  katexAutoRenderJSLocal: {{ default "" .Site.Params.katexAutoRenderJSLocal }},
  katexAutoRenderJSCDN: {{ default "https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/contrib/auto-render.min.js" .Site.Params.katexAutoRenderJSCDN }},
  lazyImage: {{ and .Site.Params.lazyImage (not .IsHome) }},
  staticPrefix: "{{ default "" .Site.Params.staticPrefix }}"
};
</script>

{{ $lazyload := resources.Get "js/lazyload.js" }}
{{ $features := resources.Get "js/features.js" }}
{{ $toc := resources.Get "js/toc.js" }}
{{ $theme := resources.Get "js/theme.js" }}
{{ $export := resources.Get "js/export.js" }}
{{ $js := slice $lazyload $features $toc $theme $export | resources.Concat "js/theme.min.js" | minify | fingerprint }}
<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>
