{{ $description := .Site.Params.description | plainify | truncate 300 }}
{{ if not .IsHome }}
  {{ $description = (default .Summary .Description | plainify | truncate 300) }}
{{ end }}

{{ $schemaType := "WebPage" }}
{{ if .IsHome }}
  {{ $schemaType = "WebSite" }}
{{ else if .IsPage }}
  {{ $schemaType = "BlogPosting" }}
{{ else if or .IsSection .IsNode }}
  {{ $schemaType = "CollectionPage" }}
{{ end }}

{{ $jsonLd := dict
  "@context" "https://schema.org"
  "@type" $schemaType
  "name" .Title
  "headline" .Title
  "description" $description
  "inLanguage" .Site.Language.Lang
  "url" .Permalink
}}

{{ with .Site.Params.author.name }}
  {{ $person := dict "@type" "Person" "name" . }}
  {{ $jsonLd = merge $jsonLd (dict "author" $person "publisher" $person "creator" $person "copyrightHolder" $person) }}
{{ end }}

{{ if .IsHome }}
  {{ $jsonLd = merge $jsonLd (dict "name" .Site.Title "headline" .Site.Title) }}
{{ end }}

{{ if .IsPage }}
  {{ $jsonLd = merge $jsonLd (dict
    "datePublished" .Date
    "dateModified" .Lastmod
    "copyrightYear" (.Date.Format "2006")
    "articleSection" .Section
    "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink)
  ) }}
  {{ with .Params.tags }}
    {{ $jsonLd = merge $jsonLd (dict "keywords" .) }}
  {{ end }}
  {{ $ldImage := "" }}
  {{ with .Params.coverImage }}{{ $ldImage = . | absURL }}{{ end }}
  {{ if not $ldImage }}{{ with .Params.album }}{{ $ldImage = . | absURL }}{{ end }}{{ end }}
  {{ if not $ldImage }}{{ with .Site.Params.ogImage }}{{ $ldImage = . | absURL }}{{ end }}{{ end }}
  {{ with $ldImage }}{{ $jsonLd = merge $jsonLd (dict "image" .) }}{{ end }}
{{ end }}

<script type="application/ld+json">{{ $jsonLd | jsonify | safeJS }}</script>
