<!DOCTYPE html>
<html lang="{{ .Site.Language.Locale }}" prefix="og: http://ogp.me/ns#">
{{ partial "head.html" . }}

<body>
  {{ partial "header.html" . }}
  <div class="container" data-testid="home-container">
    <div class="main-content-section" data-testid="home-content-section">
    <main id="main-content" data-testid="home-main">
      {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
      {{ $paginator := .Paginate $pages }}
      {{ partial "post-list.html" (dict "Pages" $paginator.Pages "IsHome" .IsHome "Site" .Site) }}
      {{ partial "pagination.html" . }}
    </main>
    {{ partial "footer.html" . }}
    </div>
  </div>

  {{ partial "scripts.html" . }}
</body>

</html>
